.container-card {
  background: linear-gradient(#2003c760, #2103c7),
    url(../images/github-card-background.png) no-repeat 0px -25px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.98;
  width: 65vw;
  height: 70%;
  border-radius: 3%;
  border: #333 1px solid;
  overflow: hidden;
  color: #ffffff;
}

form {
  display: flex;
  justify-content: center;
}

input[type='text'] {
  width: 100%;
  overflow: hidden;
  line-height: 3.7rem;
  font-size: 2rem;
  outline: none;
  text-align: center;
  border: #333 1px solid;
  background-color: rgba(255, 255, 255, 0.76);
}

input[type='text']::placeholder {
  color: #000000ab;
}

.container-allInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  overflow: hidden;
}

#personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}

#personal-info img {
  border-radius: 50%;
  width: 13vw;
  /* margin-top: -2vh; */
}

#card-name {
  margin-bottom: 0.5vh;
  font-weight: bold;
  font-size: 2rem;
}

#card-location {
  margin-bottom: 3vh;
  font-weight: normal;
}

#card-bio {
  width: 25vw;
  font-weight: normal;
  font-size: 1.1rem;
}

#personal-text {
  padding: 1vw 2vw 2vw;
}

#public-info {
  display: flex;
  /* padding-top: 3vh; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
}

#public-info h1 {
  width: 20vw;
  margin: 10% 30% 3vh 0;
  border-bottom: solid #ffffff 2px;
  font-weight: bolder;
  font-size: 3rem;
}

.public-info-label {
  margin: 0;
  padding: 0;
  margin-bottom: 1vh;
  font-weight: 500;
  font-size: 1.1vw;
}

#public-info section > h3 {
  display: inline-block;
  margin: 0 1vw 3vh;
  font-size: 1.5rem;
}

i {
  font-size: 1.8vw;
  display: inline;
}

/* ! Media Queries */

@media only screen and (max-width: 1200px) and (min-width: 961px) {
  #public-info h1 {
    font-size: 2.5rem;
  }

  .public-info-label {
    font-size: 1.3rem;
  }

  #public-info section > h3 {
    font-size: 2rem;
  }

  i {
    font-size: 1.8rem;
  }

  #card-location {
    font-size: 1.2rem;
  }

  #card-bio {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 960px) and (min-width: 712px) {
  #public-info h1 {
    font-size: 2rem;
  }

  .public-info-label {
    font-size: 1rem;
  }

  #public-info section > h3 {
    font-size: 1.5rem;
  }

  i {
    font-size: 1.4rem;
  }

  #personal-info img {
    width: 9rem;
  }

  h2 #card-name {
    font-size: 1rem;
  }

  #card-location {
    font-size: 1rem;
  }

  #card-bio {
    width: 30vw;
    font-size: 1.1rem;
  }

  input[type='text'] {
    line-height: 3.1rem;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 711px) and (min-width: 555px) {
  .container-card {
    width: 90vw;
    height: 80%;
  }

  #public-info h1 {
    font-size: 2.4rem;
    width: 30vw;
  }

  .public-info-label {
    font-size: 1rem;
  }

  #public-info section > h3 {
    font-size: 1.5rem;
  }

  i {
    font-size: 1.4rem;
  }

  #personal-info img {
    width: 9rem;
  }

  h2 #card-name {
    font-size: 1rem;
  }

  #card-location {
    font-size: 1rem;
  }

  #card-bio {
    width: 40vw;
    font-size: 1.1rem;
  }

  input[type='text'] {
    line-height: 3.1rem;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 554px) and (min-width: 411px) {
  .container-card {
    width: 90vw;
    height: 80%;
  }

  #public-info h1 {
    font-size: 1.6rem;
    width: 30vw;
  }

  .public-info-label {
    font-size: 1rem;
  }

  #public-info section > h3 {
    font-size: 1.5rem;
  }

  i {
    font-size: 1.4rem;
  }

  #personal-info img {
    width: 9rem;
    margin-bottom: 3vh;
  }

  #card-name {
    font-size: 1.5rem;
  }

  #card-location {
    font-size: 1rem;
  }

  #card-bio {
    width: 50vw;
    font-size: 1.1rem;
  }

  input[type='text'] {
    line-height: 3.1rem;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 409px) {
  .container-card {
    width: 90vw;
    height: 80%;
  }

  #public-info h1 {
    font-size: 1.6rem;
    width: 30vw;
  }

  .public-info-label {
    font-size: 1rem;
  }

  #public-info section > h3 {
    font-size: 1.2rem;
  }

  i {
    font-size: 1.4rem;
  }

  #personal-info img {
    width: 7rem;
    margin-bottom: 3vh;
  }

  #card-name {
    font-size: 1.3rem;
  }

  #card-location {
    font-size: 1rem;
  }

  #card-bio {
    width: 50vw;
    font-size: 0.9rem;
  }

  input[type='text'] {
    line-height: 3.1rem;
    font-size: 1rem;
  }
}
