html {
  background: url(./images/backgroundImage.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 98%;
}

#container-loading {
  background-color: red;
  font-size: 3rem;
  text-align: center;
  display: fixed;
  position: fixed;
  top: 50%;
  margin-top: -50px;
  width: 100%;
  padding: 1rem;
}
